/code/build
/.vscode
/code/dist/*
/code/.cross-build
/code/.ccache-cross
/code/build-local

.clangd
.clang-format
/compile_commands.json
logs/
code/build_n_deploy.sh

# Python tooling bytecode
__pycache__/
